@import "tailwindcss";

body {
  font-family: Arial, sans-serif;
  background: white;
}

.slider-container {
  width: 100%;
  margin: 30px auto;
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.btn {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 25px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

.dots {
  margin-top: 15px;
  text-align: center;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  display: inline-block;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background: #007bff;
}